﻿
    .boldtext {
    font-weight: bold;
    }

    .marginbottom {
     margin-bottom : 5px;
    
    }

     .decimalColumnSize {
       width: 100px;
    }

    .datetimesize {
    width: 120px;
    }

    .bginfo {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    border: 1px solid transparent;
    border-radius: 4px;
    
    }

     .padleft {
      padding-left: 15px;
    }

    .pad {
     padding: 10px;
    
    }


@media only screen and (max-width: 1600px) {
    .weblogo {
        width: 400px;
        padding-top: 10px;
    }
}


@media only screen and (max-width: 500px) {
    .weblogo {
        width: 200px;
        padding-top: 35px;
    }
}


.marginleft {
margin-left: 15px;

}


body .modal {
    /* new custom width */
   /*width: 760px;*/
    /* must be half of the width, minus scrollbar on the left (30px) */
    /*margin-left: -280px;*/


	 /* new custom width */
	width: 760px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: 270px;
}


.btndefault {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.headertext {
margin-left: -16px;background-color: rgba(232, 228, 228, 0.65);margin-right: -16px;
    margin-top: -10px;
        padding: 12px;

}


.logoutbtn {
    border: 0px !important;
    margin-top: 40px;

}

    .logoutbtn:hover {
    background-color: #68dff0;
    border: 1px solid !important;
        
    }


    /*Dialog Header*/

        .dialogselectbutton {
            color: #31708f !important;
            font-weight: bold;
            font-size: 12px;
        }
        .dialogheader {
                height: 55px;
                color: #fff;
                background-color: #337ab7;
        }

        .dialogheaderimage {
            float: right;
            margin-right: 50px;
            width: 120px;

        }


        .dialogheadertext {
          font-size: 14px;
          margin-left: 15px !important;
          margin-top: 14px !important;

        }

        .dialogcontent {
                background-color: rgba(255, 255, 255, 0.4) !important;
        }

        .dialogborder {
          border: 1px solid #bce8f1 !important;
        }

        .dialogerror {
            padding: 5px;
            margin-bottom: 2px;
            border: 1px solid transparent;
            border-radius: 0px;
            font-size: 12px;
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }

        .dialogsuccess {
            padding: 5px;
            margin-bottom: 2px;
            border: 1px solid transparent;
            border-radius: 0px;
            font-size: 12px;
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }
   /*End Dialog Header*/


   .haserror {
            border: 1px solid#E05C5C !important;
        }

     .disableText {
     width: 98%;
    background-color: #FED22F;
    border: 0px;
    cursor: default;
    }