@font-face {
    font-family: 'Font Awesome 5 Free Solid';
    src: url('FontAwesome5Free-Solid.eot');
    src: url('FontAwesome5Free-Solid.eot?#iefix') format('embedded-opentype'),
        url('FontAwesome5Free-Solid.woff2') format('woff2'),
        url('FontAwesome5Free-Solid.woff') format('woff'),
        url('FontAwesome5Free-Solid.ttf') format('truetype'),
        url('FontAwesome5Free-Solid.svg#FontAwesome5Free-Solid') format('svg');
    font-weight: 900;
    font-style: normal;
}

