﻿@charset "utf-8";

/* CSS Document */


/* --------------------------Web Files-------------------------------------*/

@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: normal;
    src: url("webFonts/fa-brands-400.eot");
    src: url("webFonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("webFonts/fa-brands-400.woff2") format("woff2"), url("webFonts/fa-brands-400.woff") format("woff"), url("webFonts/fa-brands-400.ttf") format("truetype"), url("webFonts/fa-brands-400.svg#fontawesome") format("svg");
}

.fab {
    font-family: 'Font Awesome 5 Brands';
}

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 400;
    src: url("webFonts/fa-regular-400.eot");
    src: url("webFonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("webFonts/fa-regular-400.woff2") format("woff2"), url("webFonts/fa-regular-400.woff") format("woff"), url("webFonts/fa-regular-400.ttf") format("truetype"), url("webFonts/fa-regular-400.svg#fontawesome") format("svg");
}

.far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    src: url("webFonts/fa-solid-900.eot");
    src: url("webFonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("webFonts/fa-solid-900.woff2") format("woff2"), url("webFonts/fa-solid-900.woff") format("woff"), url("webFonts/fa-solid-900.ttf") format("truetype"), url("webFonts/fa-solid-900.svg#fontawesome") format("svg");
}

.fa,
.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

@font-face {
    font-family: 'gil';
    src: url('webFonts/GIL_____.eot');
    src: url('webFonts/GIL_____.eot?#iefix') format('embedded-opentype'), url('webFonts/GIL_____.woff') format('woff'), url('webFonts/GIL_____.TTF') format('truetype');
}